<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"    lang="en">
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag :show2 %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<table>
	<tr>
		<th class="tabsCell">
			<div class="left-tabs">
				<%= render(:partial => "tabs_partial", :locals => {:arr => @first_arr, :selected => @firstSelected)) %>
			</div>
		</th>
		<th class="tabsCell">
			<div class="right-tabs">
				<%= render(:partial => "tabs_partial", :locals => {:arr => @second_arr, :selected => @secondSelected) %>
			</div>
		</th>
	</tr>
</table>

</body>
</html>